@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Please navigate from this page to our API endpoints:</a></p>
    <p>/api/CitiesByCountry/[CountryCode]</p>
    <p>/api/CountriesByRegion/[Region]</p>
    <p>/api/PopulationByCountry/[CountryCode]</p>

</div>
